* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(../public/assets/fundoveigh.png);
    background: url(../public/assets/fundoveigh.png) no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 30%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0 0.3);
    overflow: hidden;
}

.header {
    background: linear-gradient(120deg, gray, 0%, gray 100%);
    padding: 24px;
    text-align: center;
    color: #fff;
}

.form {
     padding: 18px;

}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;

}
.form-content label {
    display: inline-block;
    margin-bottom: 4px;
}
.form-content input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}
.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form-content button {
    background-color:#d3ad7f;
    color: #fff;

}
.form button {
    background: linear-gradient(120deg, #d3ad7f);
    color: white;
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form button:hover {
    background: linear-gradient(120deg, gray);
    transform: scale(1.02);
}
.navbar-content {
    color: #d3ad7f;
}
.navbar-email {
    color: gray;
}
.navbar-senha {
    color: #d3ad7f;
}
.navbar-password {
    color: gray;
}